
@{
    ViewBag.Title = "Exam";
    Layout = "~/Views/Shared/_LabLayout.cshtml";
}

<div id="wrapper">
    <div id="info" class="right_column" style="display:inline">
        <h2>使用須知</h2>
        <ul>
            <p>
                <li>需先將兩個資料庫檔案附加到SQL SERVER系統</li>
                <ul>
                    <li>打開SSMS(SQL Server Management Studio) 或 SSMSE(SQL Server Management Studio Express).</li>
                    <li>在Object Explorer裡的 "Databases"上按右鍵.</li>
                    <li>從文件清單中選取要附加的檔案.</li>
                    <li>選擇 NorthwindChinese.mdf 按附加然後按確定</li>
                    <li>選擇 Answers.mdf 按附加然後按確定.</li>
                    <li>再按確定</li>
                </ul>
            </p>

            注意事項:
            <ul>
                <li><font color="red">資料庫名稱必須為 "NorthwindChinese" 與 "Answers", 否則將會發生錯誤.</font></li>
                <li><font color="red">禁止修改Answers資料庫裡的任何資料.</font></li>
            </ul>

            <p>
                <li>修改 Web.config 第14行</li>
                connectionString="Data source=
                <font color="green">.</font>;Initial Catalog=NorthwindChinese;User id=
                <font color="green">jane</font>;Password=
                <font color="green">abc123</font>"
                <br />
                修改
                <font color="green">.</font>,
                <font color="green">jane</font>,
                <font color="green">abc123</font> 為你自己的帳號密碼.
            </p>
            <p>
                <li>用VISUAL STUDIO 打開 SQLExercises.sln 然後執行.</li>
            </p>
            <p>
                <li>現在可以看到所有練習題目 :-)</li>
            </p>
            <p>
                <li>將你的SQL語法填入空格中並按送出. 經過檢查後將會跳出答對與否的訊息.</li>
            </p>
            注意:
            <ul>
                <li><font color="red">查詢結果的資料順序不能錯否則算不對.</font></li>
            </ul>
            <p>
                <li>22 到 25 題</li>
                Trigger名稱與欄位和資料必須與題目一樣.
                <br />
                如果修改了資料表後想要復原它,請在空格中不要連任何的文字案送出. 資料表將會自動復原.
            </p>
            注意:
            <ul>
                <li><font color="red">除非被要求否則不要做任何資料表的修改.</font></li>
            </ul>
        </ul>
    </div>
    <div id="Q1" data-quiz-id="1" class="right_column" style="display:none">
        <h2>Question 1</h2>
        <p>客戶資料表架構</p>
        <img src="@Href("~/Content/images/quiz/mssql/Question01.png")" />
        <p>列出位在台北市的客戶ID。</p>
        <div class="hr"></div>
        SELECT 出之欄位為 :<br><br>
        <table border="1">
            <tbody>
                <tr>
                    <td>CustomerID</td>
                </tr>
            </tbody>
        </table>
        <div class="hr"></div>
        <h1>Your SQL Command: </h1>
        <textarea rows="20" cols="60" id="Sql1"></textarea>
        <input type="button" class="submit" value="Submit" />
    </div>
    <div id="Q2" data-quiz-id="2" class="right_column" style="display:none">
        <h2>Question 2</h2>
        <p>產品資料表架構</p>
        <img src="@Href("~/Content/images/quiz/mssql/Question02.png")" />
        <p>列出胡椒粉、海鮮粉及辣椒粉的總庫存。</p>
        <ul><li>sum</li></ul>
        <div class="hr"></div>
        SELECT 出之欄位為 :<br><br>
        <table border="1">
            <tbody>
                <tr>
                    <td>UnitsInStock</td>
                </tr>
            </tbody>
        </table>
        <div class="hr"></div>
        <h1>Your SQL Command: </h1>
        <textarea rows="20" cols="60" id="Sql2"></textarea>
        <input type="button" class="submit" value="Submit" />
    </div>
    <div id="Q3" data-quiz-id="3" class="right_column" style="display:none">
        <h2>Question 3</h2>
        <p>員工資料表架構</p>
        <img src="@Href("~/Content/images/quiz/mssql/Question03.png")" />
        <p>列出所有性別是小姐且職稱是業務的員工姓名並依姓名排序。</p>
        <ul><li>and</li></ul>
        <div class="hr"></div>
        SELECT 出之欄位為 :<br><br>
        <table border="1">
            <tbody>
                <tr>
                    <td>EmployeeName</td>
                </tr>
            </tbody>
        </table>
        <div class="hr"></div>
        <h1>Your SQL Command: </h1>
        <textarea rows="20" cols="60" id="Sql3"></textarea>
        <input type="button" class="submit" value="Submit" />
    </div>
    <div id="Q4" data-quiz-id="4" class="right_column" style="display:none">
        <h2>Question 4</h2>
        <p>訂單資料表架構</p>
        <img src="@Href("~/Content/images/quiz/mssql/Question04.png")" />
        <p>列出曾在2004年（以OrderDate為主）處理訂單的員工ID（不得重複）並排序。</p>
        <ul><li>distinct</li></ul>
        <div class="hr"></div>
        SELECT 出之欄位為 :<br><br>
        <table border="1">
            <tbody>
                <tr>
                    <td>EmployeeID</td>
                </tr>
            </tbody>
        </table>
        <div class="hr"></div>
        <h1>Your SQL Command: </h1>
        <textarea rows="20" cols="60" id="Sql4"></textarea>
        <input type="button" class="submit" value="Submit" />
    </div>
    <div id="Q5" data-quiz-id="5" class="right_column" style="display:none">
        <h2>Question 5</h2>
        <p>訂單資料表架構</p>
        <img src="@Href("~/Content/images/quiz/mssql/Question04.png")" />
        <p>列出處理2003年的前十筆訂單（以OrderDate排序）的員工ID。</p>
        <ul><li>top</li></ul>
        <div class="hr"></div>
        SELECT 出之欄位為 :<br><br>
        <table border="1">
            <tbody>
                <tr>
                    <td>EmployeeID</td>
                </tr>
            </tbody>
        </table>
        <div class="hr"></div>
        <h1>Your SQL Command: </h1>
        <textarea rows="20" cols="60" id="Sql5"></textarea>
        <input type="button" class="submit" value="Submit" />
    </div>
    <div id="Q6" data-quiz-id="6" class="right_column" style="display:none">
        <h2>Question 6</h2>
        <p>供貨商資料表架構</p>
        <img src="@Href("~/Content/images/quiz/mssql/Question06.png")" />
        <p>列出地址在屏東且提供至少三樣產品的供應商ID並排序。</p>
        <ul><li>like</li><li>count</li></ul>
        <div class="hr"></div>
        SELECT 出之欄位為 :<br><br>
        <table border="1">
            <tbody>
                <tr>
                    <td>SupplierID</td>
                </tr>
            </tbody>
        </table>
        <div class="hr"></div>
        <h1>Your SQL Command: </h1>
        <textarea rows="20" cols="60" id="Sql6"></textarea>
        <input type="button" class="submit" value="Submit" />
    </div>
    <div id="Q7" data-quiz-id="7" class="right_column" style="display:none">
        <h2>Question 7</h2>
        <p>員工資料表架構</p>
        <img src="@Href("~/Content/images/quiz/mssql/Question03.png")" />
        <p>查詢林姓員工的數量。</p>
        <ul><li>like</li><li>count</li></ul>
        <div class="hr"></div>
        SELECT 出之欄位為 :<br><br>
        <table border="1">
            <tbody>
                <tr>
                    <td>EmpCount</td>
                </tr>
            </tbody>
        </table>
        <div class="hr"></div>
        <h1>Your SQL Command: </h1>
        <textarea rows="20" cols="60" id="Sql7"></textarea>
        <input type="button" class="submit" value="Submit" />
    </div>
    <div id="Q8" data-quiz-id="8" class="right_column" style="display:none">
        <h2>Question 8</h2>
        <p>供應商與產品資料表架構</p>
        <img src="@Href("~/Content/images/quiz/mssql/Question08.png")"  />
        <p>列出不提供肉/家禽類和海鮮類產品的供應商CompanyName並排序。</p>
        <ul><li>not in</li></ul>
        <div class="hr"></div>
        SELECT 出之欄位為 :<br><br>
        <table border="1">
            <tbody>
                <tr>
                    <td>CompanyName</td>
                </tr>
            </tbody>
        </table>
        <div class="hr"></div>
        <h1>Your SQL Command: </h1>
        <textarea rows="20" cols="60" id="Sql8"></textarea>
        <input type="button" class="submit" value="Submit" />
    </div>
    <div id="Q9" data-quiz-id="9" class="right_column" style="display:none">
        <h2>Question 9</h2>
        <p>產品類別與商品資料表架構</p>
        <img src="@Href("~/Content/images/quiz/mssql/Question09.png")"  />
        <p>列出每項產品類別共有多少產品（欄位：類別名稱、數量）並以CategoryID排序。</p>
        <ul><li>count</li><li>group by</li></ul>
        <div class="hr"></div>
        SELECT 出之欄位為 :<br><br>
        <table border="1">
            <tbody>
                <tr>
                    <td>CategoryName</td>
                    <td>Num</td>
                </tr>
            </tbody>
        </table>
        <div class="hr"></div>
        <h1>Your SQL Command: </h1>
        <textarea rows="20" cols="60" id="Sql9"></textarea>
        <input type="button" class="submit" value="Submit" />
    </div>
    <div id="Q10" data-quiz-id="10" class="right_column" style="display:none">
        <h2>Question 10</h2>
        <p>訂單與產品資料表架構</p>
        <img src="@Href("~/Content/images/quiz/mssql/Question10.png")"  />
        <p>列出在2004年曾經購買過每一種類別至少一項產品的客戶ID並排序。</p>
        <ul><li>not exist</li></ul>
        <div class="hr"></div>
        SELECT 出之欄位為 :<br><br>
        <table border="1">
            <tbody>
                <tr>
                    <td>CustomerID</td>
                </tr>
            </tbody>
        </table>
        <div class="hr"></div>
        <h1>Your SQL Command: </h1>
        <textarea rows="20" cols="60" id="Sql10"></textarea>
        <input type="button" class="submit" value="Submit" />
    </div>
    <div id="Q11" data-quiz-id="11" class="right_column" style="display:none">
        <h2>Question 11</h2>
        <p>訂單資料表架構</p>
        <img src="@Href("~/Content/images/quiz/mssql/Question11.png")" />
        <p>
            依照年度（OrderDate）列出該年度訂單總數、總訂單金額（UnitPrice * Quantity * (1-Discount)）
            、平均每筆訂單金額（金額皆四捨五入至小數點後第二位）並以總金額排序由大到小排序。
        </p>
        <ul><li>order by</li><li>sum</li><li>round</li><li>avg</li></ul>
        <div class="hr"></div>
        SELECT 出之欄位為 :<br><br>
        <table border="1">
            <tbody>
                <tr>
                    <td>Years</td>
                    <td>Counts</td>
                    <td>PriceSum</td>
                    <td>PriceAverage</td>
                </tr>
            </tbody>
        </table>
        <div class="hr"></div>
        <h1>Your SQL Command: </h1>
        <textarea rows="20" cols="60" id="Sql11"></textarea>
        <input type="button" class="submit" value="Submit" />
    </div>
    <div id="Q12" data-quiz-id="12" class="right_column" style="display:none">
        <h2>Question 12</h2>
        <p>訂單資料表架構</p>
        <img src="@Href("~/Content/images/quiz/mssql/Question04.png")" />
        <p>列出在2002年負責20筆以上訂單的員工ID並以員工ID排序。</p>
        <ul><li>count</li></ul>
        <div class="hr"></div>
        SELECT 出之欄位為 :<br><br>
        <table border="1">
            <tbody>
                <tr>
                    <td>EmployeeID</td>
                </tr>
            </tbody>
        </table>
        <div class="hr"></div>
        <h1>Your SQL Command: </h1>
        <textarea rows="20" cols="60" id="Sql12"></textarea>
        <input type="button" class="submit" value="Submit" />
    </div>
    <div id="Q13" data-quiz-id="13" class="right_column" style="display:none">
        <h2>Question 13</h2>
        <p>訂單資料表架構</p>
        <img src="@Href("~/Content/images/quiz/mssql/Question04.png")" />
        <p>分別列出每一年使用次數最多的貨運方式ID。</p>
        <ul><li>max</li><li>group by</li></ul>
        <div class="hr"></div>
        SELECT 出之欄位為 :<br><br>
        <table border="1">
            <tbody>
                <tr>
                    <td>Years</td>
                    <td>ShipVia</td>
                </tr>
            </tbody>
        </table>
        <div class="hr"></div>
        <h1>Your SQL Command: </h1>
        <textarea rows="20" cols="60" id="Sql13"></textarea>
        <input type="button" class="submit" value="Submit" />
    </div>
    <div id="Q14" data-quiz-id="14" class="right_column" style="display:none">
        <h2>Question 14</h2>
        <p>訂單,顧客與員工資料表架構</p>
        <img src="@Href("~/Content/images/quiz/mssql/Question14.png")"  />
        <p>列出曾經處理過「凱誠國際顧問公司」和「師大貿易」的訂單的員工ID及姓名並以ID排序。</p>
        <ul><li>INTERSECT</li></ul>
        <div class="hr"></div>
        SELECT 出之欄位為 :<br><br>
        <table border="1">
            <tbody>
                <tr>
                    <td>EmployeeID</td>
                    <td>EmployeeName</td>
                </tr>
            </tbody>
        </table>
        <div class="hr"></div>
        <h1>Your SQL Command: </h1>
        <textarea rows="20" cols="60" id="Sql14"></textarea>
        <input type="button" class="submit" value="Submit" />
    </div>
    <div id="Q15" data-quiz-id="15" class="right_column" style="display:none">
        <h2>Question 15</h2>
        <p>員工資料表架構</p>
        <img src="@Href("~/Content/images/quiz/mssql/Question15.png")" />
        <p>列出六月出生的員工姓名並排序。</p>
        <ul><li>date</li></ul>
        <div class="hr"></div>
        SELECT 出之欄位為 :<br><br>
        <table border="1">
            <tbody>
                <tr>
                    <td>EmployeeName</td>
                </tr>
            </tbody>
        </table>
        <div class="hr"></div>
        <h1>Your SQL Command: </h1>
        <textarea rows="20" cols="60" id="Sql15"></textarea>
        <input type="button" class="submit" value="Submit" />
    </div>
    <div id="Q16" data-quiz-id="16" class="right_column" style="display:none">
        <h2>Question 16</h2>
        <p>訂單資料表架構</p>
        <img src="@Href("~/Content/images/quiz/mssql/Question04.png")" />
        <p>列出送貨日期延誤的訂單編號（ShippedDate晚於RequiredDate）及延誤天數並以訂單編號排序。</p>
        <ul><li>date</li></ul>
        <div class="hr"></div>
        SELECT 出之欄位為 :<br><br>
        <table border="1">
            <tbody>
                <tr>
                    <td>OrderID</td>
                    <td>DelayDays</td>
                </tr>
            </tbody>
        </table>
        <div class="hr"></div>
        <h1>Your SQL Command: </h1>
        <textarea rows="20" cols="60" id="Sql16"></textarea>
        <input type="button" class="submit" value="Submit" />
    </div>
    <div id="Q17" data-quiz-id="17" class="right_column" style="display:none">
        <h2>Question 17</h2>
        <p>員工資料表架構</p>
        <img src="@Href("~/Content/images/quiz/mssql/Question03.png")" />
        <p>列出主管ID、姓名、薪資、其管理的下屬數量和下屬平均薪資。以主管ID排序。</p>
        <ul><li>count</li><li>avg</li></ul>
        <div class="hr"></div>
        SELECT 出之欄位為 :<br><br>
        <table border="1">
            <tbody>
                <tr>
                    <td>EmployeeID</td>
                    <td>EmployeeName</td>
                    <td>Salary</td>
                    <td>SubCount</td>
                    <td>SubAverageSalary</td>
                </tr>
            </tbody>
        </table>
        <div class="hr"></div>
        <h1>Your SQL Command: </h1>
        <textarea rows="20" cols="60" id="Sql17"></textarea>
        <input type="button" class="submit" value="Submit" />
    </div>
    <div id="Q18" data-quiz-id="18" class="right_column" style="display:none">
        <h2>Question 18</h2>
        <p>產品資料表架構</p>
        <img src="@Href("~/Content/images/quiz/mssql/Question02.png")" />
        <p>列出產品編號、名稱、庫存量UnitsInStock、已訂購量UnitsOnOrder及安全存量ReorderLevel，並新增一欄位其值為'safe'（庫存量 >= 安全存量）或'reordering'（庫存量 < 安全存量 & 已訂購量+庫存量 >= 安全存量）或'unsafe'（其他）。</p>
        <ul><li>case when then</li></ul>
        <div class="hr"></div>
        SELECT 出之欄位為 :<br><br>
        <table border="1">
            <tbody>
                <tr>
                    <td>ProductID</td>
                    <td>ProductName</td>
                    <td>UnitsInStock</td>
                    <td>UnitsOnOrder</td>
                    <td>ReorderLevel</td>
                    <td>Status</td>
                </tr>
            </tbody>
        </table>
        <div class="hr"></div>
        <h1>Your SQL Command: </h1>
        <textarea rows="20" cols="60" id="Sql18"></textarea>
        <input type="button" class="submit" value="Submit" />
    </div>
    <div id="Q19" data-quiz-id="19" class="right_column" style="display:none">
        <h2>Question 19</h2>
        <p>訂單資料表架構</p>
        <img src="@Href("~/Content/images/quiz/mssql/Question11.png")" />
        <p>列出2004年三月總成交金額最多的5名員工ID及成交金額並以成交金額由大到小排序。</p>
        <ul><li>sum</li><li>top</li></ul>
        <div class="hr"></div>
        SELECT 出之欄位為 :<br><br>
        <table border="1">
            <tbody>
                <tr>
                    <td>EmployeeID</td>
                    <td>TotalPrice</td>
                </tr>
            </tbody>
        </table>
        <div class="hr"></div>
        <h1>Your SQL Command: </h1>
        <textarea rows="20" cols="60" id="Sql19"></textarea>
        <input type="button" class="submit" value="Submit" />
    </div>
    <div id="Q20" data-quiz-id="20" class="right_column" style="display:none">
        <h2>Question 20</h2>
        <p>訂單資料表架構</p>
        <img src="@Href("~/Content/images/quiz/mssql/Question04.png")" />
        <p>列出2003年平均每月訂單數。</p>
        <ul><li>avg</li><li>count</li></ul>
        <div class="hr"></div>
        SELECT 出之欄位為 :<br><br>
        <table border="1">
            <tbody>
                <tr>
                    <td>AvgOrderCnt</td>
                </tr>
            </tbody>
        </table>
        <div class="hr"></div>
        <h1>Your SQL Command: </h1>
        <textarea rows="20" cols="60" id="Sql20"></textarea>
        <input type="button" class="submit" value="Submit" />
    </div>
    <div id="Q21" data-quiz-id="21" class="right_column" style="display:none">
        <h2>Question 21</h2>
        <p>訂單與產品資料表架構</p>
        <img src="@Href("~/Content/images/quiz/mssql/Question10.png")"  />
        <p>依照客戶的送貨城市列出各城市訂購的各種類別的訂單數量。以ShipCity及Category排序。</p>
        <div class="hr"></div>
        SELECT 出之欄位為 :<br><br>
        <table border="1">
            <tbody>
                <tr>
                    <td>ShipCity</td>
                    <td>CategoryID</td>
                    <td>Cnt</td>
                </tr>
            </tbody>
        </table>
        <div class="hr"></div>
        <h1>Your SQL Command: </h1>
        <textarea rows="20" cols="60" id="Sql21"></textarea>
        <input type="button" class="submit" value="Submit" />
    </div>
    <div id="Q22" data-quiz-id="22" class="right_column" style="display:none">
        <h2>Question 22</h2>
        <p>
            新增一trigger名為shippers_trigger，當對資料表Shippers進行新增、修改、刪除操作後，<br />
            將操作紀錄到日誌表ShippersLog（已存在），其欄位如下：
        </p>
        <ul>
            <li>id</li>為identity，會自動產生，請勿存取其值。
            <li>Time</li> datetime，記錄操作時間
            <li>Operation</li> varchar(6)，其值為'Insert'/'Delete'/'Update'
            <li>DelShipperId</li>
            <li>DelCompany</li>
            <li>DelPhone</li> 資料型態同Shippers，記錄被刪除的資料
            <li>InsShipperId</li>
            <li>InsCompany</li>
            <li>InsPhone</li> 資料型態同Shippers，記錄新增的資料
        </ul>
        <p>
            若為delete或insert，另一部分欄位皆為NULL。若為update，則Del和Ins都需記錄。注意：若操作未影響到資料表（如欲刪除資料不存在），則不需記錄。<br />
        </p>
        <p>出貨與出貨紀錄資料表架構</p>
        <img src="@Href("~/Content/images/quiz/mssql/Question22.png")"  />
        <div class="hr"></div>
        <h1>Your SQL Command: </h1>
        <textarea rows="20" cols="60" id="Sql22"></textarea>
        <input type="button" class="submit" value="Submit" />
    </div>
    <div id="Q23" data-quiz-id="23" class="right_column" style="display:none">
        <h2>Question 23</h2>
        <p>員工與訂單資料表架構</p>
        <img src="@Href("~/Content/images/quiz/mssql/Question23.png")"  />
        <p>調整薪資，全年處理50筆以上訂單的員工薪資加5%，處理100筆以上訂單則加10%，最多加5000元，且不得高於其主管。</p>
        <ul><li>update</li></ul>
        <div class="hr"></div>
        <h1>Your SQL Command: </h1>
        <textarea rows="20" cols="60" id="Sql23"></textarea>
        <input type="button" class="submit" value="Submit" />
    </div>
    <div id="Q24" data-quiz-id="24" class="right_column" style="display:none">
        <h2>Question 24</h2>
        <p>員工資料表架構</p>
        <img src="@Href("~/Content/images/quiz/mssql/Question24.png")" />
        <p>在員工資料表中新增一欄位Seniority，其型態為int，值為該員工工作至2004-12-31的年資 (月份數、不足月不算) 。</p>
        <ul><li>alter</li><li>date</li></ul>
        <div class="hr"></div>
        <h1>Your SQL Command: </h1>
        <textarea rows="20" cols="60" id="Sql24"></textarea>
        <input type="button" class="submit" value="Submit" />
    </div>
    <div id="Q25" data-quiz-id="25" class="right_column" style="display:none">
        <h2>Question 25</h2>
        <p>產品資料表架構</p>
        <img src="@Href("~/Content/images/quiz/mssql/Question25.png")" />
        <p>從Products表中刪除不再銷售的產品資訊。</p>
        <ul><li>delete</li></ul>
        <div class="hr"></div>
        <h1>Your SQL Command: </h1>
        <textarea rows="20" cols="60" id="Sql25"></textarea>
        <input type="button" class="submit" value="Submit" />
    </div>
</div>

@section scripts{
    <script>
        $(function () {

            //Function
            function setTargetId(id) {
                if (typeof (id) === "undefined") {
                    id = $('.quiz-menu:visible:eq(0)').data('item-id');
                }
                $('#now-quiz-id').html(id.replace('Q', ''));
            }

            //Init
            setTargetId();

            //Event
            $(".quiz-menu").on('click', function() {
                $('.right_column').css('display', 'none');
                var targetId = $(this).data('item-id');
                setTargetId(targetId);
                $('#' + targetId).show();
            });

            $('.submit').on('click', function () {
                var quizId = $('.right_column:visible').data('quiz-id'),
                    data = "";
                data += "{";
                data += "QuizNumber: " + quizId + ", ";
                data += "VerifySql: \"" + $('#Sql' + quizId).val() + "\"";
                data += "}";

                $.ajax({
                    type: "POST",
                    url: "../api/MSSQL/VerifyAnwser",
                    data: data,
                    dataType: "json",
                    contentType: "application/json; charset=utf-8",
                    success: function (data) {
                        alert(data.VerifiyResultDescription);
                    },
                    error: function (xhr, status, error) {
                        var msgObj = (new Function('return ' + xhr.responseText))(),
                            msg = msgObj.Message;

                        alert("Syntax Error:\n" + msg);
                    }
                });
            });
        });
    </script>
}