<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @System.Web.Optimization.Styles.Render("~/bundles/css")
</head>
<body>
    <div>
        @{ Html.RenderPartial("MenuPartial"); }
    </div>

    <!--APP-->
    <div id="app">
        @RenderBody()
    </div>

    <!--Script-->
    @System.Web.Optimization.Scripts.Render("~/bundles/bower_compnents")
    @RenderSection("scripts",required:false)
</body>
</html>
